<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
	<h1 th:text="${title}"></h1>
	<div style="display:inline-flex">
		<form method="get" action="#" th:action="@{/complete}">
			
			<input type="text" name="name" placeholder="お名前">
		
			<input type="text" name="comment" placeholder="コメント:500文字まで。Enterキーでも投稿できます。" class="example">
			<input type="submit" value="投稿">
			<hr class="cp_hr01" />
		</form>
	</div>

	<table>
		<tr th:each="res : ${dbList}">
			<td th:text="${res.name}">名前</td>
			<td th:text="${res.comment}">コメント</td>
		</tr>
	</table>


</body>

</html>